.nav-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    font-size: 1rem;

}

.nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.list-item {
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}


.app-logo{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
